apiVersion: v1
kind: Secret
metadata:
  name: quick-admin-secret
type: Opaque
stringData:
  database-dsn: "host=postgres-service user=postgres password=replace-me dbname=quick_admin port=5432 sslmode=require TimeZone=Asia/Shanghai"
  redis-password: ""
  jwt-secret: "replace-with-at-least-32-random-characters"
