apiVersion: v1
kind: Service
metadata:
  name: nai-tizi-api
  labels:
    app: nai-tizi-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: nai-tizi-api
---
apiVersion: v1
kind: Service
metadata:
  name: nai-tizi-api-metrics
  labels:
    app: nai-tizi-api
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: metrics
  selector:
    app: nai-tizi-api
